# Virtual environment
hamm_env/
venv/
.env/
be/.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and config files
# .env
# *.env
# *.ini
# *.cfg

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VSCode / IDE files
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db
